/*
@name Square UI
@author Raptor
@version 2.0
@description Removes rounding to everything except scroll bar
*/
#root{
    --borderRadius-md: 0px;
    --borderRadius-xl: 0px;
    --borderRadius-lg: 0px;
    --borderRadius-circle: 0px;
    border-radius: 0px;
    --borderRadius-full: 0px;
}

#floating{
    border-radius: 0px;
    --borderRadius-md: 0px;
    --borderRadius-xl: 0px;
    --borderRadius-lg: 0px;
    --borderRadius-circle: 0px;
    --borderRadius-full: 0px;
}

@layer utilities {
    *{
        border-radius: 0px;
    --borderRadius-md: 0px;
    --borderRadius-xl: 0px;
    --borderRadius-lg: 0px;
    --borderRadius-circle: 0px;
    --borderRadius-full: 0px;
    }
    .dlnViy {
        border-radius: 0px;
    }
  .cTBjjM {
    border-radius: 0;
  }
}
